body {
    overflow-x: hidden;
    background: linear-gradient(to right, red, blue, green, rebeccapurple, pink, darkgreen);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
i {
    font-size: 13px;
    font-weight: bold;
}